.message {
  font-size: 17px;
  background: #5a4087;
  opacity: 0.95;
  color: #fff;
  transition: ease 1s;
  display: none;
  top: 0;
  left: 0; }

body {
  background: #fff;
  display: flex;
  justify-content: center; }

div {
  background: #efefef;
  width: 50%;
  border: 1.5px solid #429697;
  color: #5a4087; }
